//
// assets/css/layout/_body.scss

body {
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;
    overflow-x: hidden;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 400;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    width: 100%;
    opacity: 0;
    will-change: opacity;
    overflow-x: hidden;
}
