//
// assets/css/layout/_breakpoints.scss

@import "../abstracts/variables";


$grid-breakpoints: (
    mobile-p: 0,
    mobile-l: 576px,
    tablet: 768px,
    desktop-s: 992px,
    desktop-m: 1201px,
    desktop-l: 1441px,
    desktop-xl: 1681px
);

body {
    &::after {
        display: none;
        content: 'mobile-p';

        @include media-breakpoint-up('mobile-l') {
            content: 'mobile-l';
        }

        @include media-breakpoint-up('tablet') {
            content: 'tablet';
        }

        @include media-breakpoint-up('desktop-s') {
            content: 'desktop-s';
        }

        @include media-breakpoint-up('desktop-m') {
            content: 'desktop-m';
        }

        @include media-breakpoint-up('desktop-l') {
            content: 'desktop-l';
        }

        @include media-breakpoint-up('desktop-xl') {
            content: 'desktop-xl';
        }
    }
}
