//
// assets/css/abstracts/variables.scss

// Grid
$mobile_gridgap: 5px;
$tablet_gridgap: 10px;
$desktop_gridgap: 10px;

$mobile_padding: 10px;
$tablet_padding: 20px;
$desktop_padding: 30px;

$mobile_margin: 10px;
$tablet_margin: 20px;
$desktop_margin: 30px;

$padding-inGridLayout: (
    mobile-p: 20px,
    tablet: 50px,
    desktop-s: 75px,
    desktop-m: 180px,
    desktop-l: 180px,
    desktop-xl: 180px
);

@function inGridLayout($key) {
    @if map-has-key($padding-inGridLayout, $key) {
        @return map-get($padding-inGridLayout, $key);
    }

    @warn "Unknown `#{$key}` in $padding-inGridLayout.";
    @return null;
}

// Colors
$error: #ff1f1f;
$success:  #21b32c;

//EASE timing functions
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
