//
// assets/css/layout/_breakpoints.scss

body {
    &::after {
        display: none;
        content: 'mobile-p';

        @include for-breakpoint('mobile-l') {
            content: 'mobile-l';
        }

        @include for-breakpoint('tablet') {
            content: 'tablet';
        }

        @include for-breakpoint('desktop-s') {
            content: 'desktop-s';
        }

        @include for-breakpoint('desktop-m') {
            content: 'desktop-m';
        }

        @include for-breakpoint('desktop-l') {
            content: 'desktop-l';
        }

        @include for-breakpoint('desktop-xl') {
            content: 'desktop-xl';
        }
    }
}
