//
// assets/css/layout/_reset.scss

/**
 * Use border box on all elements
 */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
    -webkit-overflow-scrolling: touch;
    color: black;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
    color: black;
    &:visited {
        color: black;
    }
}

/**
 * Display block as base for these elements
 */
header, footer, nav, section, article, hgroup, figure {
	display: block;
}
