//
// assets/css/abstracts/variables.scss

// Menu
$mobile_menu_height: 60px;
$tablet_menu_height: 60px;
$desktop_menu_height: 100px;

// Grid
$mobile_grid_gap: 5px;
$tablet_grid_gap: 5px;
$desktop_grid_gap: 5px;

$mobile_padding: 10px;
$tablet_padding: 20px;
$desktop_padding: 30px;

$mobile_margin: 10px;
$tablet_margin: 20px;
$desktop_margin: 30px;

$padding-in-grid-layout: (
    mobile-p: 20px,
    mobile-l: 20px,
    tablet: 40px,
    desktop-s: 60px,
    desktop-m: 80px,
    desktop-l: 80px,
    desktop-xl: 100px
);

$breakpoints: (
    mobile-p: 0px,
    mobile-l: 576px,
    tablet: 768px,
    desktop-s: 992px,
    desktop-m: 1201px,
    desktop-l: 1441px,
    desktop-xl: 1681px
);

@function in-grid-layout($key) {
    @if map-has-key($padding-in-grid-layout, $key) {
        @return map-get($padding-in-grid-layout, $key);
    }
    @warn "Unknown `#{$key}` in $padding-in-grid-layout.";
    @return null;
}

// Colors
$error: #ff1f1f;
$success:  #21b32c;

//EASE timing functions
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeOutSine */
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
