//
// assets/css/style.scss

@import "variables";
@import "mixins";
@import "breakpoints";
@import "fonts";
@import "media";
@import "reset";
@import "typo";
@import "keyframes";
@import "layout";
@import "locomotive-scroll";

body {
    font-family: 'neue-machina-regular', Helvetica, sans-serif;
}

.page {
    opacity: 0;
    will-change: opacity;
}

.below-header {
    padding-top: $mobile_menu_height;
    @include for-breakpoint("tablet") {
        padding-top: $tablet_menu_height;
    }
    @include for-breakpoint("desktop-s") {
        padding-top: $desktop_menu_height;
    }
}
